<app-header titulo="DateTime"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime placeholder="Nacimiento" 
                    cancelText="Cnacelar!!!"
                    (ngModel)="fechaNaci.toISOString()"
                    (ionChange)="cambioFecha($event)">
     </ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restrincciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min y max</ion-label>
      <ion-datetime value="2015-01-01" min="2015-01-01" max="2015-12-31"
        displayFormat="yyyy-mm-dd">
      </ion-datetime>
    </ion-item>

  </ion-list>
</ion-content>
 