<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vitae at
      qui tenetur fuga inventore illum, omnis voluptas, corporis, voluptates
      amet reprehenderit odio pariatur aliquam velit porro laborum quod
      expedita.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
     <ion-card-content>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, impedit deleniti reiciendis nobis ex earum dolorem saepe nihil dignissimos quas perferendis, eius voluptate reprehenderit cupiditate repellat temporibus neque qui voluptatum!
     </ion-card-content>
  </ion-card>
</ion-content>
